


<div class="container" style="max-width: 949px;">
  <div class="row justify-content-between align-items-center">


    <div class="col-md-3 text-start">

      <p><strong>Turma:</strong> ADS301M</p>
      <p><strong>Turno:</strong> MANHÃ</p>
      <p><strong>Unidade:</strong> BONSUCESSO</p>
    </div>


    <div class="col-md-2 text-center">
      <img src="assets/rogerio lindo.jpg" alt="Foto do aluno" class="img-fluid" style="width: 80px; height: 100px; border-radius: 5px;">
    </div>


    <div class="col-md-3 text-end">
      <!-- agora é só alterar com os seus dados -->
      <p><strong>Nome:</strong> Jardelei Vieira de Oliveira</p>
      <p>MATRICULA: 21204528</p>
    </div>

  </div>
</div>

